.footer_container {
    background-color: #FFF;
    height: auto;
    padding: 16px 32px 0px 32px;

    ul {
        color: #263238 !important;
        padding: 0px;
    
        li {
          list-style-type: none;
          margin-bottom: 8px;
        }
    }
}