<div class="postular_oferta_container">
  <h1 class="app_titles">Postular a una oferta</h1>

  <h2>Descripción de la oferta</h2>


  <h3>Introducción de la empresa</h3>
  <p style="text-align: justify;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque eaque natus ab suscipit, ducimus, aspernatur porro quidem omnis dolores ad facilis obcaecati eveniet, non architecto accusamus. Molestiae, ab eligendi?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque eaque natus ab suscipit, ducimus, aspernatur porro quidem omnis dolores ad facilis obcaecati eveniet, non architecto accusamus. Molestiae, ab eligendi?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque eaque natus ab suscipit, ducimus, aspernatur porro quidem omnis dolores ad facilis obcaecati eveniet, non architecto accusamus. Molestiae, ab eligendi?
  </p>

  <h3>Resumen para el colaborador</h3>
  <p style="text-align: justify;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque eaque natus ab suscipit, ducimus, aspernatur porro quidem omnis dolores ad facilis obcaecati eveniet, non architecto accusamus. Molestiae, ab eligendi?
  </p>

  <h3>Requisitos del colaborador</h3>
  <p style="text-align: justify;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  </p>

  <ul>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
  </ul>

  <h3>Oferta para el colaborador</h3>
  <p style="text-align: justify;">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore facere voluptatem, amet eius consequatur alias rem dolorum, placeat a, hic perferendis minima saepe dolore blanditiis dignissimos id nulla nostrum sequi!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae at laboriosam dolorum assumenda voluptates tempore iste autem corporis, pariatur non explicabo tempora, mollitia fugiat, quisquam illo ab reiciendis itaque hic.
  </p>

  <ul>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
    <li>Error doloremque eaque natus ab suscipit, ducimus, aspernatur porr</li>
  </ul>

</div>