<mat-toolbar class="toolbar mat-elevation-z1">
    <img src="assets/logo.png" style="height: 38px;" routerLink="">

    <span class="spacer"></span>

    <button class="mr_2" mat-button color="accent" [routerLink]="'/ofertas-laborales'">
        Ofertas laborales
    </button>

    <button class="mr_2" mat-button color="accent" >
        Pruebas
    </button>

    <button class="mr_2" mat-button color="accent" [routerLink]="'/ats'">
        ATS
    </button>

    <button mat-flat-button color="accent">
        Iniciar sesión
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
