.ofertas_laborales_container {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 32px 24px;

    .filtros {
        display: flex;
        margin-bottom: 16px;
    }

    .oferta {
        border-radius: 3px;
        width: 100%;
        display: flex;
        padding: 8px;
        background-color: #FFF;
        margin-bottom: 12px;

        .company_logo {
            margin-right: 16px;
            width: 68px;
            vertical-align: middle;
            
            img {
                height: 64px;
                width: 64px;
                margin: auto auto;
                display: block;
                border-radius: 8px;
            }
        }

        .company_name {
            font-weight: 300;
            font-size: 13px;
            margin: 0px;
        }

        .title {
            font-weight: 400;
            font-size: 18px;
            margin: 0px;

            .modalidades {
                color: #757575;
                margin-left: 8px;
            }
        }

        .description {
            font-weight: 300;
            font-size: 13px;
            margin: 0px;
        }

        .benefits {
            display: flex;

            img {
                margin-left: 8px;
                height: 18px;
            }
        }
    }

    .bottom_paginator {
        padding-top: 32px;
        mat-paginator {
            background-color: #f5f3f4;
        }
    }

}